/* =========================== GOOGLE FONTS =========================== */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');


/* =========================== VARIABLE CSS =========================== */
:root {
	--header-height: 3.5rem;

	/* =========== Colors =========== */
	--color-primary: #0FA3B1;
	--color-black: black;
	--color-white: white;
	--color-header: #EE6C4D;
	--color-dark-gray: #98999a;
	--color-light-gray: #EEEEEE;
	--color-gray: #ddd;
	--color-form-box: #F5F5F5;
	--color-submit-btn: hsl(200, 97%, 48%);
	--color-quiz-title: #06113C;
	--color-subtile: #c7eef0;

	/* =========== Font and typography =========== */
	--body-font: 'Sora', sans-serif;
	--h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

	/* =========== Font weight =========== */
    --font-medium: 400;
    --font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;

	/* =========== Margenes =========== */   
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem; 
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
	--m-3: 3rem;
	--m-3-5: 3.5rem;

	/* =========== Border radius =========== */ 
    --border-radius-20: 1.25rem;
	--border-radius-10: 0.625rem;
	--border: 2px solid var(--color-black);
}

/* =========================== BASE =========================== */
html {
    scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: #F5F5F5;
}

img {
	width: 20%;
} 

ul {
	list-style: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a.active {
	display: inline-block;
	background: var(--color-header);
	padding: 6px 13px;
	font-weight: var(--font-semi-bold);
	font-size: var(--h3-font-size);
}

h1 {
	font-size: var(--h1-font-size);
	font-weight: var(--font-extra-bold);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
	font-weight: var(--font-semi-bold);
}

h4 {
	font-size: var(--normal-font-size);
	color: var(--color-black);
}

h5 {
	font-size: var(--small-font-size);
	color: var(--color-dark-gray);
}

hr { 
	width: 95%;
	border-bottom: 1px solid var(--color-black);
}

.padd-15 {
    padding: 15px;
}

.hidden{
	display: none;
}

/* =========================== BUTTONS =========================== */
input[type='submit'] {
	background: var(--color-submit-btn); 
	color: var(--color-white);
	border-radius: var(--border-radius-10);
	border:1px  none;
	padding: 10px;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	width: 100%;
}

input[type='submit']:hover {
	background: hsl(200, 97%, 40%);
	transition: 0.3s;
	cursor: pointer;
}

input[type='button'] {
	background: hsl(0, 100%, 50%); 
	color: var(--color-white);
	border-radius: var(--border-radius-10);
	border:1px  none;
	padding: 10px;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi-bold);
	width: 100%;
}

input[type=button]:hover {
	background: hsl(0, 100%, 42%);
	transition: 0.3s;
	cursor: pointer;
}

.back-forward-btn {
	padding-left: 60px;
	padding-top: 20px;
	display: flex;
	cursor: pointer;
}

.back-forward-btn i{ 
	font-size: 30px;
	color: #3D5A80;
	opacity: 0.8;
}

.back-btn {
	padding-right: 15px;
} 

/* =========================== FORM =========================== */
form {
    display: inline;
}

label {
	color: var(--color-quiz-title);
}

input[type='text'] {
	width: 60%;
	padding: 10px;
	border-radius: var(--border-radius-10);
	border:1px  none;
	background: var(--color-form-box);
}

input[type='password'] {
	width: 30%;
	padding: 10px;
	border-radius: var(--border-radius-10);
	border: none;
	background: var(--color-light-gray);
}

/* =========================== LAYOUT =========================== */
.container {
	width: 90%;
	margin: auto;
	overflow: auto;
	border-radius: var(--border-radius-20);
  	border: var(--border);
	background-color: var(--color-white);
	margin-bottom: var(--m-3-5);
}	

.container-menu {
	width: 90%;
	margin: 0 auto;
	overflow: auto;
	padding-top: 20px;
}

.container-menu a.active {
	color: var(--color-black);
}

/* =========================== HEADER =========================== */
header {
	width: 100%;
	background-color: var(--color-primary);
}

/* =========================== NAV =========================== */ 
.nav {
	height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
	margin-left: var(--m-1);
	position: relative;
}

.nav-icon {
	display: flex;
	color: var(--color-white);
	margin: var(--m-1);
}

.nav-icon h3 {
	color: var(--color-white);
}

.nav-icon i {
	font-size: 40px;
}

.nav-dropdown-icon,
.nav-account-icon {
	margin-top: var(--m-0-75);
}

.nav-dropdown-icon {
	position: relative;
	display: inline-block;
}

.nav-dropdown-icon i {
	cursor: pointer;
}

.nav-dropdown-icon i:hover {
	color: #ddd;
}

.nav-dropdown-icon:hover .nav-dropdown-content {
	display: block;
}

.nav-dropdown-content { 
	position: absolute;
	width: 175px;
	padding: 10px;
	border: none;
	background-color: var(--color-white);
	margin-left: -10rem;
	display: none;
	z-index: 1;
}

.nav-dropdown-content a {
	display: block;
	border-radius: 0%;
	border: none;
	font-size: var(--small-font-size);
	color: var(--color-black);
}

.nav-drodown-item {
	display: flex;
}

.nav-drodown-item a {
	padding-top: 3px;
	padding-left: 10px;
}

.nav-drodown-item i {
	color: var(--color-black);
	font-size: 30px;
}

a.start{
	display: inline-block;
	color: var(--color-primary);
	background: var(--color-white);
	padding:6px 13px;
}

a.current {
	display: inline-block;
	color: var(--color-white);
	background: var(--color-primary);
	padding:6px 13px;
}

/* =========================== LOGIN =========================== */
.login {
	margin: var(--m-2-5);
}

.login-title h2 {
	color: var(--color-header);
}

.login-container,
.login-title {
	margin: auto;
	margin-left: var(--m-1-5);
}

.login-container {
	display: inline;
}

.login-container input[type=submit] {
	margin-left: var(--m-0-5);
	padding: 8px;
	width: 7%;
}

.login input[type=password]:focus {
	border: none;
	background-color: var(--color-gray);
	outline: none;
} 

/* =========================== CONTAINER =========================== */
.container-title {
	text-align: center;
	color: var(--color-header);
}

.container-menu {
	margin-bottom: 1px;
}

.container-menu a {
	border-radius: var(--border-radius-20);
	border: var(--border);
}

/* =========================== HOME =========================== */
.home-sub-title {
	width: 10%;
	margin-top: var(--m-0-5);
	margin-left: var(--m-2);
}

.home-sub-title h3 {
	text-align: center;
	background: var(--color-subtile);
	border-radius: var(--border-radius-10);
	border: var(--border);
	color: var(--color-black);
	padding: 3px;
}

.new-subject-container {
	border-radius: var(--border-radius-20);
  	border: 2px solid #9a989a;
	background-color: #FFFFFF;
	width: 15%;
	margin: var(--m-1-5) auto var(--m-2-5) var(--m-3-5);
	display: inline-block;
}

.new-subject-container i {
	font-size: 60px;
	color: #9a989a;
	opacity: 0.5;
	cursor: pointer;
}

.new-subject-container i:hover {
	opacity: 1;
}

h5,
.subject-icon {
	text-align: center;
}

.subject-icon {
	width: 50%;
  	margin: 30px auto;
}

.subject-container {
	border-radius: var(--border-radius-20);
	border: var(--border);
	background-color: var(--color-light-gray);
	width: 15%;
	margin: 30px 0 50px 50px;
	display: inline-block;
}

.subject-container i {
	font-size: 60px;
	color: black;
}

.subject-container h5 {
	white-space: normal;
	color: var(--color-black);
}

.more-menu {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

.more-menu i {
	font-size: 25px;
	cursor: pointer;
}

.more-menu i:hover {
	color: var(--color-white);
}

/* Subject Dropdown */
.subject-dropdown-content {
	position: fixed;
	width: 130px;
	padding: 10px;
	border: none;
	background-color: var(--color-white);
}

.subject-dropdown-content a {
	display: block;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	color: var(--color-black);
	background-color: var(--color-gray);
	margin-top: 5px;
	border: none;
	font-size: var(--small-font-size);
}

.subject-dropdown-content .subject-rename a:hover {
	background-color: #F4D35E;
	color: var(--color-white);
	cursor: pointer;
}

.subject-dropdown-content .subject-delete a:hover {
	background-color: #EE4747;
	color: var(--color-white);
	cursor: pointer;
}

/* Pop Up */
.popup-container {
	border-radius: var(--border-radius-20);
  	border: var(--border);
	width: 30%;
	background-color: white;
}

.popup-container input[type=text]:focus {
	background-color: var(--color-gray);
}

.popup-title,
.popup-subtitle {
	margin: var(--m-1);
}

.popup-field {
	text-align: center;
	margin-bottom: var(--m-1);
}

.popup-button {
	display: flex;
	margin-bottom: var(--m-1);
}

.popup-button input[type=submit],
.popup-button input[type=button] {
	max-width: 50%;
	margin: var(--m-0-5);
}

.create {
	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	padding-top: 100px; /* Location of the box */
	padding-left: 450px;
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.create-content {
  	margin: auto;
  	padding: 20px;
  	width: 80%;
}

.edit {
	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	padding-top: 100px; /* Location of the box */
	padding-left: 500px;
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.edit-content {
  	margin: auto;
  	padding: 20px;
  	width: 80%;
}

/*============================ ALL QUIZZES ============================*/
.create-quiz-btn > a {
	background: var(--color-gray);
	color: var(--color-black);
	width: 10%;
	float: right;
	margin: 5px 85px 30px;
	padding: 7px;
	border-radius: var(--border-radius-10);
	text-align: center;
}

.create-quiz-btn > a :hover {
	background: hsl(0, 0%, 79%);
	transition: 0.3s;
}

table, thead, tbody, th, td, tr {
	border: 2px solid var(--color-black);
}

.quizzes-table {
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 400px;
	border-radius: 10px;
	overflow: hidden;
	margin-left: auto;
  	margin-right: auto;
	width: 85%;
	margin-top: 50px;
}

.quizzes-table .untitled {
	color: var(--color-dark-gray);
}
 
.quizzes-table thead tr {
	background-color: var(--color-primary);
	text-align: left;
	color: var(--color-white);
}

.quizzes-table th, 
.quizzes-table td {
	padding: 12px 15px;
	text-align: center;
}

.quizzes-table tbody tr {
	border-bottom: 1px solid var(--color-light-gray);
}

.quizzes-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.quizzes-table tbody tr:last-of-type {
	border-bottom:2px solid var(--color-primary);
}
 
.quizzes-table i {
	color: #F94449;
	font-weight: 600;
	opacity: 0.5;
}

.quizzes-table i:hover {
	opacity: 1;
	cursor: pointer;
} 

/*============================ ADD A QUESTION ============================*/
.subtitle {
	font-weight: var(--font-extra-bold);
	margin-left: var(--m-3-5);
	margin-right: var(--m-1);
}

.choose-type,
.choose-amount {
	margin-bottom: var(--m-1-5);
}

.choose-amount input[type=text],
.choose-choice input[type=text] {
	width: 10%;
	background-color: var(--color-white);
	border: 2px solid var(--color-primary);
}

.type {
	margin-right: var(--m-1);
}

.question input[type='text'] {
	width: 70%;
}

.choose-choice .add {
	border-radius: 50%;
	color: white;
	border:2px  #1974D2 solid;
	background: #1974D2;
}

.choose-choice .delete {
	border-radius: 50%;
	color: white;
	border:2px  #F94449 solid;
	background: #F94449;
}

.choice-item {
	margin-left: 5.5rem;
}

.choice-item i {
	color: var(--color-primary);
}

.choices {
	margin-right: var(--m-1);
}

.form-btn {
	margin-left: var(--m-3-5);
	margin-top: var(--m-2);
	margin-bottom: var(--m-2);
	width: 10%;
}

.question input[type=text]:focus,
.choice-item input[type=text]:focus,
.answer input[type=text]:focus {
	background-color: var(--color-gray);
}

.quiz-name {
	margin-bottom: var(--m-1-5);
}

.quiz-name input[type='text'] {
	width: 75%;
	padding: 15px;
}

.quiz-name input[type='text']:focus {
	background-color: var(--color-gray);
}

.answer {
	margin-bottom: var(--m-1-5);
}

.answer input[type='text'] {
	width: 70%;
}

textarea {
	margin-left: var(--m-3-5);
	margin-top: var(--m-1-5);
}
.next-btn{
	width: 8%;
	height: 8%;
	margin-right: var(--m-2);
	margin-bottom: var(--m-1);
 	float: right;
}

/*============================ ADD SUBJECT ============================*/
.form-title,
.form-subtitle,
.input-field,
.form-btns {
	margin: var(--m-2-5);
}

.input-field input[type=text] {
	width: 98%;
	padding: 15px;
}

.input-field input[type=text]:focus {
	background-color: var(--color-gray);
}

.form-btns {
	display: flex;
	margin-bottom: var(--m-2);
}

.form-btns a {
	margin-right: var(--m-1-5);
}	

.form-btns input[type=submit],
.form-btns input[type=button] {
	padding-left: 50px;
	padding-right: 50px;
}

.close-btn {
	float: right;
	margin: var(--m-2);
}

.close-btn i {
	font-size: 30px;
	font-weight: var(--font-semi-bold);
	color: var(--color-dark-gray);
}

/*============================ ADD Matching ============================*/
.list-main{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}

.choice-list > ol > li {
	list-style: decimal;
	list-style-position: inside;
	margin-left: 1.5rem;
	margin-top: 1rem;
}
   
.ans-list > ul > li {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 1.5rem;
	margin-top: 1rem;
}
   
   
.delete-button{
	margin-left: 1.5rem;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}
   
.delete-button{
	color: #F94449;
}
   
.format-button-back {
	width: 120px;
	height: 120px;
	margin: 10px;
	float: right;
}
	  
.format-button-save {
	width: 120px;
	height: 120px;
	padding-right: 30px;
	margin: 10px;
	float: right;
}